
{% load static %}


<!DOCTYPE html>
<html>
<head>

	<title> Ramcharan </title>
	<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	
</head>
<body>

	<br>
	<div class="container" >
		<div class="row" >
			<div class="col-md-3" >
				<div class="card card-body h-100 border-info" id="profile-wrapper">
					<img id="profile-pic" src="{% static '/images/profile.jfif'%}">
					<br>
					<h4>Hi,Iam <br> Challa Ramcharan Reddy</h4>
					<p> I love learning,researching and collaborating </p>
				</div>
			</div>

			<div class="col-md-9" >
				<div class="card card-body h-100 border-info" >

					<p> 
						<b>About</b>  <br>
						
						Iam a seeker, I love to learn things,I forget them if not put into practice! and then I relearn things, I love reaseraching, teaching myself newer technologies and reading.</p>
						<hr>
					<p> 
						<b>Objective</b>   <br>
						
						I'm open to work and willing to upgrade my skills constantly and committed to continued evolution so as to accomplish my employer's mission.
					</p>
					<hr>

					<p>
						<b>Contact</b>  <br>

						Mobile: 7396438336     <br>
						Email: challaramcharanreddy@gmail.com     <br>

						<a href="https://www.linkedin.com/in/ram-charan-a2962490/" target="_blank">

							<img alt="Challa Ramcharan Reddy" class="social" src="{% static 'images/linkedin.png' %}"></li>
							
						</a>
						
						
					</p>

					
					
				</div>

				
			</div>
		</div>

		<br>

		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Experience</h5>
					<hr>
					<p>Engineering Intern at Greenfinch motors</p>
					<p>My job responsibilities in this Electrical vehicles startup included Circuit testing, creating schematics and PCB design using ALtium designer software,simulink modelling and testing of simulink models,I also did technical documentation and few more things.</p>
				</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>What I Know</h5>
					<hr>
					<p>Python, Django, HTML5,Postgres, Technical documentation, Embedded systems, RESTful web services,web sockets, datascience libraries Pandas,Matplotlib,web scrapping.I also have basic knowledge of data visualisation softwares Tableu and Power Bi.Iam also good at Excel.</p>
					<p>PS: Working on Mongo DB and Machine Learning.</p>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>Conventional education</h5>
					<hr>
					<p> Jawaharlal Nehru Technological University, Hyderabad <br>
						December,2019   M.Tech, Embedded systems.
					</p>
					<p>
						Mahatma Gandhi Institute of Technology, Hyderabad  <br>
						July,2016   B.tech, Electrical and Electronics Engineering.
					</p>
				</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Certifications</h5>
					<hr>
					<p> 
						Machine Learning for Business Professionals by Coursera <br>
						<a href="https://coursera.org/share/389547b86a1b1a0a98f93318b33c9b95" target="_blank">Certificate</a>
					</p>
					<p>
						Marketing Analytics by Coursera <br>
						<a href="https://coursera.org/share/ea1cc42fb49de29635a3a0293023db10" target="_blank">Certificate</a>
					</p>

				</div>
			</div>
		</div>

		<br>

		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My projects</h5>
					<hr>
					<p> 
						IoT based automatic irrigation and data logging system using Solar Energy. <br/>
						<i>variables that effect plant growth are monitored wirelessly using sensors and rate of watering,amount of light exposure are automated, additionally the variables are logged and visualised and a message is sent in case of abnormalities.</i> 
						<br>

						<a href="http://www.csjournals.com/IJEE/PDF11-2/57.%20CR.pdf" target="_blank">Paper</a>
					</p>
		
				</div>
			</div>

			
		</div>

		<br>

	</div>
	

</body>
</html>